* {
    margin: 0;
    padding: 0;
}

/* common style */
.f-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.common-container {
    max-width: 1400px;
    margin: 0 auto;
    /* background-color: 1px solid red; */
}

/* navbar style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    padding-top: 16px;
}

.nav-li ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

nav a {
    color: #000000;
    text-decoration: none;
}

.nav-btn {
    border: none;
    padding: 12px 16px;
    color: white;
    background-color: #30B868;
    border-radius: 4px;
    cursor: pointer;
}

/* navbar style end here */

/* banner style */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 650px;
    padding-top: 16px;
}

.banner-title1 {
    color: #30B868;
    justify-content: center;
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-top: 115px;
    font-size: 16px;
    display: flex;
}

.banner-title1 img {
    padding-right: 5px;
}

#text-highlight {
    color: #30B868;
    display: block;
}

.banner-title2 h1 {
    font-size: 70px;
    line-height: 84px;
    max-width: 800px;
    margin: 30px auto;
    justify-content: center;
    color: white;
}

.banner-title3 {
    color: white;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
}

.btn {
    gap: 20px;
    display: flex;
}

.btn #btn1 {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 17px 15px 17px 16px;
    color: white;
    background-color: #30B868;
    margin-top: 32px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn #btn2 {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    font-size: 16px;
    padding: 16px;
    margin-top: 32px;
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* banner style end here*/

/* note style */
.note-title {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-title h1 {
    padding-top: 50px;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

.note-title p {
    padding-top: 16px;
    color: #627382;
    line-height: 24px;
    font-size: 18px;
}

/* note style end here*/

/* card style */
.card-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    padding: 44px 0px;
}

.card-container {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 40px 24px;
    width: 300px;
    box-shadow: 0 -12px 25px -5px rgba(0, 0, 0, 0.08);
}

.card-container h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-top: 15px;
}

.card-container p {
    padding-top: 16px;
    text-align: center;
    color: #627382;
}

.card-icon {
    width: 50px;
    height: 35px;
    background-color: #f95555;
    padding-bottom: 16px;
    justify-self: center;
    border-radius: 50%;
    /* padding-left: 17px; */
}

.card-icon img {
    width: 32px;
    height: auto;
    padding-top: 10px;
    padding-left: 9px;
}

/* card style end here */

/* sb style */
.sb-container {
    display: flex;
    padding-top: 15px;
}

.sb-info {
    padding: 100px 0 100px 60px;
}

.sb-info li {
    list-style: none;
}

.sb-info h5 {
    font-size: 16px;
    color: #30B868;
    line-height: 20px;
}

.sb-info h1 {
    padding-top: 16px;
    font-size: 48px;
    color: #001931;
}

.sb-info p {
    padding-top: 16px;
    line-height: 20px;
    font-size: 16px;
    color: #627382;
}

.sb-info .sb-li {
    padding-top: 20px;
}

.sb-li li p {
    display: flex;
    gap: 5px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}

/* Early Access Section */
.ea-container {
    max-width: 1400px;
    padding-top: 120px;
    margin-bottom: 80px;
}

.ea-container .ea-sec {
    background-color: #F7F6F2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 383px;
    justify-content: center;
}

.ea-content h1 {
    padding: 10px 40px 16px;
    font-size: 40px;
}

.ea-content p {
    color: #627382;
    line-height: 24px;
    text-align: center;
}

.ea-content-secondary {
    padding-top: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ea-content-secondary button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 16px 24px;
    border: none;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    gap: 5px;
    cursor: pointer;
}

.ea-content-secondary p {
    padding-top: 16px;
    color: #627382;
    line-height: 20px;
}

/* Early Access Section end*/

/* Footer Section */
.footer-section {
    /* background-color: rgb(8, 15, 46); */
    background-color: #001931;
    width: 100%;
    min-height: 350px;
}

.footer-banner {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer-social-link p {
    color: #FAFAFA;
    font-size: 20px;
    line-height: 28px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.social-icons a img {
    padding-top: 10px;
}

.footer-line {
    border: none;
    border-top: 1px solid gray;
    margin-top: 80px;
}

.fotter-bottom p {
    color: white;
    padding-top: 30px;
    text-align: center;
}